<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MIPAMAX_BackupMySQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MIPAMAX_BackupMySQL.Properties.Settings>
      <setting name="serverhost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="defaultschema" serializeAs="String">
        <value>mysql</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="horario" serializeAs="String">
        <value>20:30</value>
      </setting>
      <setting name="caminhobackup" serializeAs="String">
        <value />
      </setting>
      <setting name="arquivozip" serializeAs="String">
        <value>-BKP.ZIP</value>
      </setting>
      <setting name="caminhobackupalternativo" serializeAs="String">
        <value />
      </setting>
      <setting name="porta" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="acessosenha" serializeAs="String">
        <value />
      </setting>
      <setting name="tempo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="inicioautomatico" serializeAs="String">
        <value>False</value>
      </setting>
    </MIPAMAX_BackupMySQL.Properties.Settings>
  </userSettings>
</configuration>
